body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4em;
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}

.company {
  background-color: black;
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}

div {
  display: block;
}

.banner {
  background: url(../../resources/images/moto.jpeg);
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headline {
  background-color: black;
  color: white;
  padding: 2rem 3rem;
  width: 20rem;
  top: 9rem;
  position: relative;
}

h4 {
  display: block;
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-after: 0px;
}

h1, h4 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.headline h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.25em 0;
  line-height: 1.2em;
}
